.navbar-brand {
  font-size: clamp(42px, calc(2.625rem + ((1vw - 7.68px) * -1.3889)), 26px);
  min-height: 0vw;
  font-weight: 700;
  color: #029b3c;
}
.navbar-nav .nav-link {
  color: var(--text-muted);
  font-size: 16px;
  font-weight: 500;
  padding-inline: 16px;
}
.navbar-nav .nav-link[aria-current="page"] {
  color: #fff;
  background-color: #029b3c;
  border-radius: 8px;
}
