@inherits LayoutComponentBase
<div class="page">
    <!-- <div class="sidebar">
        <NavMenu/>
    </div> -->

    <main>
        <header class="header">
            <div class="container-fluid active">
                <nav class="navbar navbar-expand-lg">
                    <div class="brand-logo">
                        <a href="index.html" class="navbar-brand"> Bislerium </a>
                        <button class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse active justify-content-end" id="topnav-menu-content">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-dashboards" role="button"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="uil-dashboard"></i>Dashboards <div class="arrow-down"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>