<div class="modal fade show bg-primary" role="dialog">
    <div class="modal-dialog @Size">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" @onclick="@ModalCancel">Cancel</button>
                <button type="button" class="btn btn-outline-dark" @onclick=@ModalOk>@OkLabel</button>
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter] 
    public string Title { get; set; }

    [Parameter] 
    public RenderFragment ChildContent { get; set; }

    [Parameter] 
    public string OkLabel { get; set; }

    [Parameter] 
    public string Size { get; set; } = "";

    [Parameter] 
    public EventCallback<bool> OnClose { get; set; }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(true);
    }

    private Task ModalOk()
    {
        return OnClose.InvokeAsync(false);
    }
}