@page "/blogs"

<PageTitle>My Blogs</PageTitle>

<div class="col-lg-10 col-12 mx-auto">
    <div class="card">
        <div class="card-body pb-1">
            <div class="card-content">
                <div class="post no-image">
                    <div class="post__content">
                        <div class="top__section justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="profile__img">
                                    <img src="images/users/avatar-3.jpg" alt="User Photo" width="48" height="48"
                                        class="img-fluid" />
                                </div>
                                <div class="profile__title">
                                    <h3>John Doe</h3>
                                    <span class="date text-muted">May 1 at 10:00 AM</span>
                                    <span><i class="mdi mdi-music-note-whole"></i></span>
                                    <span class="location text-muted my-0">Washinhton</span>
                                </div>
                            </div>
                            <div class="dropdown float-end text-muted">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="mdi mdi-dots-horizontal"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" style="">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Delete</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom__section">
                            <article>
                                <div class="font-16 text-center text-dark my-3">
                                    <i class="mdi mdi-format-quote-open font-20"></i> Leave one wolf alive and the
                                    sheep are never safe. When people ask you
                                    what happened here, tell them the North remembers. Tell them winter came for
                                    House Frey.
                                </div>
                            </article>
                            <ul class="hashtags">
                                <li>#OnBrand</li>
                                <li>#event</li>
                                <li>#volunteers</li>
                                <li>#volunteering</li>
                                <li>#eventPlanner</li>
                                <li>#branding</li>
                                <li>#conference</li>
                            </ul>
                            
                            <div class="mt-1 mb-1">
                                <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted ps-0">
                                    <i class="mdi mdi-arrow-up-bold text-muted"></i>
                                    <i class="mdi mdi-arrow-up-bold-outline text-muted"></i>
                                    1.2k Likes
                                    <i class="mdi mdi-arrow-down-bold text-muted"></i>
                                    <i class="mdi mdi-arrow-down-bold-outline text-muted"></i>
                                </a>
                                <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted"><i
                                        class="uil uil-comments-alt"></i> 148 Comments</a>
                                <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted"><i
                                        class="uil uil-share-alt"></i> Share</a>
                            </div>
                        </div>
                        <hr class="m-0">
                        <div class="mt-3">
                            <div class="d-flex">
                                <img class="me-2 rounded" src="images/users/avatar-9.jpg"
                                    alt="Generic placeholder image" height="32">
                                <div>
                                    <h5 class="m-0">Sansa Stark </h5>
                                    <p class="text-muted mb-0"><small>2 mins ago</small></p>

                                    <p class="my-1">This is awesome! Proud of sis :) Waiting for you to
                                        come back to winterfall</p>

                                    <div>
                                        <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted p-0">
                                            <i class="uil uil-heart me-1"></i> Like
                                        </a>
                                        <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted p-0 ps-2">
                                            <i class="uil uil-comments-alt me-1"></i> Reply
                                        </a>
                                    </div>

                                    <div class="d-flex mt-3">
                                        <img class="me-2 rounded" src="images/users/avatar-8.jpg"
                                            alt="Generic placeholder image" height="32">
                                        <div>
                                            <h5 class="m-0">Cersei Lannister </h5>
                                            <p class="text-muted mb-0"><small>1 min ago</small></p>

                                            <p class="my-1">I swear! She won't be able to reach to winterfall</p>
                                        </div>
                                    </div> <!-- end d-flex-->
                                </div> <!-- end div -->
                            </div> <!-- end d-flex-->

                            <hr>

                            <div class="d-flex mb-2">
                                <img src="images/users/avatar-1.jpg" height="32" class="align-self-start rounded me-2"
                                    alt="Arya Stark">
                                <div class="w-100">
                                    <input type="text" class="form-control border-0 form-control-sm"
                                        placeholder="Write a comment">
                                </div> <!-- end w-100 -->
                            </div> <!-- end d-flex -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>