@page "/blogs"

<PageTitle>My Blogs</PageTitle>

<div class="col-lg-10 col-12 mx-auto">          
    <section class="row g-4">
        <div class="blog-title col-md-12 py-md-4">
            <h1 class="mb-1">New AWS Announcements for March, 2024</h1>
            <section class="blog-published-date">
                    <div class="blog-author col-12">
                        <div class="d-flex align-items-center gap-2 flex-wrap flex-sm-nowrap">
                            <!-- <div class="author-photo align-self-start">
                               <img src="images/users/avatar-3.jpg" alt="User Photo" width="35" height="35" class="img-fluid rounded" />
                            </div> -->
                            <p class="mb-0 fs-5 fw-bold">
                                ABC Group,
                            </p>
                        <p class="mb-0 ms-2">Apr 09, 2024
                        </p>
                        </div>
                    </div>

                    <!-- <div class="col-12 d-flex justify-content-center">
                        <div class="share-icons d-flex align-items-center gap-2">
                            <a href="#" target="_blank"><i class="mdi mdi-facebook"></i></a>
                            <a href="#" target="_blank"><i class="mdi mdi-twitter"></i></a>
                            <a href="#" target="_blank"><i class="mdi mdi-whatsapp"></i></a>
                            <a href="#" target="_blank"><i class="mdi mdi-instagram"></i></a>
                        </div>
                    </div> -->
            </section>
        </div>
    </section>

    <article class="blog-detail-content" id="blog-detail-content">
        <h3>Title</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ducimus dignissimos, excepturi laborum totam fugiat aspernatur vitae autem provident est pariatur optio ut vero? Temporibus cupiditate mollitia labore laboriosam rerum!
        </p>
        <h3>Title</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ducimus dignissimos, excepturi laborum totam fugiat aspernatur vitae autem provident est pariatur optio ut vero? Temporibus cupiditate mollitia labore laboriosam rerum!
        </p>
        <h3>Title</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ducimus dignissimos, excepturi laborum totam fugiat aspernatur vitae autem provident est pariatur optio ut vero? Temporibus cupiditate mollitia labore laboriosam rerum!
        </p>
    </article>
</div>