@page "/blogs"

<PageTitle>My Blogs</PageTitle>

<div class="blog col-lg-10 col-12 mx-auto">          
    <section class="row g-4">
        <div class="blog-title col-md-12">
            <h1 class="mb-1">New AWS Announcements for March, 2024</h1>
            <section class="blog-published-date">
                    <div class="blog-author col-12">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <p class="mb-0 fs-5 fw-bold">
                                ABC Group
                            </p>
                        <p class="mb-0 ms-2">Apr 09, 2024
                        </p>
                        </div>
                    </div>
            </section>
        </div>
    </section>

    <div class="img-wrapper my-3">
        <img src="images/small/dummy-img.jpg" alt="Blog Image" class="img-fluid w-100">
    </div>

    <article class="blog-detail-content" id="blog-detail-content">
        <h3>Title</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ducimus dignissimos, excepturi laborum totam fugiat aspernatur vitae autem provident est pariatur optio ut vero? Temporibus cupiditate mollitia labore laboriosam rerum!
        </p>
        <h3>Title</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ducimus dignissimos, excepturi laborum totam fugiat aspernatur vitae autem provident est pariatur optio ut vero? Temporibus cupiditate mollitia labore laboriosam rerum!
        </p>
        <h3>Title</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ducimus dignissimos, excepturi laborum totam fugiat aspernatur vitae autem provident est pariatur optio ut vero? Temporibus cupiditate mollitia labore laboriosam rerum!
        </p>
    </article>
</div>