@page "/feeds"

<PageTitle>Social Feeds</PageTitle>

<div class="row">
    <div class="col-xxl-3 col-lg-6 order-lg-1 order-xxl-1">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-self-start">
                    <img src="images/users/avatar-3.jpg" alt="User Photo" width="48" height="48"
                        class="mx-2 rounded" />
                    <div class="w-100 overflow-hidden">
                        <h5 class="mt-1 mb-0">ABC</h5>
                        <p class="mb-1 mt-1 text-muted">Admin</p>
                    </div>
                </div>

                <div class="list-group list-group-flush mt-2">
                    <a href="javascript:void(0);"
                        class="list-group-item list-group-item-action text-primary border-0"><i
                            class="uil uil-images me-1"></i> About</a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action border-0"><i
                            class="uil uil-comment-alt-message me-1"></i> My Profile</a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action border-0"><i
                            class="uil uil-calendar-alt me-1"></i> Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-9 col-lg-12 order-lg-2 order-xxl-1">
        <!-- new post -->
        <div class="card">
            <div class="card-body p-0">
                <ul class="nav nav-tabs nav-bordered" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a href="#newpost" data-bs-toggle="tab" aria-expanded="false"
                            class="nav-link active px-3 py-2" aria-selected="true" role="tab">
                            <i class="mdi mdi-pencil-box-multiple font-18 d-md-none d-block"></i>
                            <span class="d-none d-md-block">Create Post</span>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="#photo-video" data-bs-toggle="tab" aria-expanded="true" class="nav-link px-3 py-2"
                            aria-selected="false" tabindex="-1" role="tab">
                            <i class="mdi mdi-image font-18 d-md-none d-block"></i>
                            <span class="d-none d-md-block">Photos/Videos</span>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="#story" data-bs-toggle="tab" aria-expanded="true" class="nav-link px-3 py-2"
                            aria-selected="false" tabindex="-1" role="tab">
                            <i class="mdi mdi-book-open-variant font-18 d-md-none d-block"></i>
                            <span class="d-none d-md-block">Story</span>
                        </a>
                    </li>
                </ul>
                <!-- end nav-->
                <div class="tab-content">
                    <div class="tab-pane show active" id="newpost" role="tabpanel">
                        <form action="#" class="comment-area-box">
                            <textarea rows="4" class="form-control border-0 resize-none"
                                placeholder="Write something...."></textarea>
                            <div class="p-2 d-flex justify-content-between align-items-center">
                                <div>
                                    <a href="#" class="btn btn-sm px-2 font-16 btn-light"><i
                                            class="uil uil-scenery"></i></a>
                                    <a href="#" class="btn btn-sm px-2 font-16 btn-light"><i
                                            class="uil uil-location"></i></a>
                                    <a href="#" class="btn btn-sm px-2 font-16 btn-light"><i
                                            class="uil uil-paperclip"></i></a>
                                </div>
                                <button type="submit" class="btn btn-gradient px-2 py-1">
                                    <i class="uil uil-message me-1"></i>Post
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- end preview-->
                </div>
                <!-- end tab-content-->
            </div>
        </div>
        <!-- end new post -->

        <!-- start news feeds -->
        <div class="card">
            <div class="card-body pb-1">
                <div class="full__container">
                    <div class="post">
                        <div class="post__image">
                            <img src="images/small/small-2.jpg" alt="post-img"
                                class="img-fluid">
                            <div class="social__media_icon">
                                <i class="fab fa-facebook-f"> </i>
                            </div>
                        </div>
                        <div class="post__content">
                            <div class="top__section">
                                <div class="profile__img">
                                    <img src="images/users/avatar-3.jpg" alt="User Photo" width="48" height="48"
                                        class="mx-2 rounded" />
                                </div>
                                <div class="profile__title">
                                    <h3>John Doe</h3>
                                </div>
                            </div>
                            <div class="bottom__section">
                                <article>
                                    we had such a great time with our volunteers at last
                                    year's OnBrand Event!
                                    <span class="hashtag">#OnBrand 👏👏👏 </span>
                                </article>
                                <ul class="hashtags">
                                    <li>#OnBrand</li>
                                    <li>#event</li>
                                    <li>#volunteers</li>
                                    <li>#volunteering</li>
                                    <li>#eventPlanner</li>
                                    <li>#branding</li>
                                    <li>#conference</li>
                                </ul>
                                <div class="date">10:00 AM 12-02-2019</div>
                                <div class="actions">
                                    <div class="action like">
                                        <i class="fas fa-heart"> </i><span>20</span>
                                    </div>
                                    <div class="action share">
                                        <i class="fas fa-share-alt"></i><span>28</span>
                                    </div>
                                    <div class="action comment">
                                        <i class="far fa-comment-alt"></i><span>13</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post__image">
                            <img src="images/small/small-2.jpg" alt="post-img"
                                class="img-fluid">
                            <div class="social__media_icon">
                                <i class="fab fa-twitter"> </i>
                            </div>
                        </div>
                        <div class="post__content">
                            <div class="top__section">
                                <div class="profile__img">
                                    <img src="images/users/avatar-3.jpg" alt="User Photo" width="48" height="48"
                                        class="mx-2 rounded" />
                                </div>
                                <div class="profile__title">
                                    <h3>Sarah Janes</h3>
                                </div>
                            </div>
                            <div class="bottom__section">
                                <article>
                                    Multilayer Fashion Women Lady Alloy Clavicle Choker
                                    Necklace Charm Chain Jewelry ( 6953 Watch Count )
                                </article>
                                <ul class="hashtags">
                                    <li>#Multilayer</li>
                                    <li>#Fashion</li>
                                    <li>#Women</li>
                                </ul>
                                <div class="date">10:00 AM 12-02-2019</div>
                                <div class="actions">
                                    <div class="action like">
                                        <i class="fas fa-heart"> </i><span>12</span>
                                    </div>
                                    <div class="action share">
                                        <i class="fas fa-share-alt"></i><span>20</span>
                                    </div>
                                    <div class="action comment">
                                        <i class="far fa-comment-alt"></i><span>10</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post__image">
                            <img src="images/small/small-2.jpg" alt="post-img"
                                class="img-fluid">
                            <div class="social__media_icon">
                                <i class="fab fa-instagram"> </i>
                            </div>
                        </div>
                        <div class="post__content">
                            <div class="top__section">
                                <div class="profile__img">
                                    <img src="images/users/avatar-3.jpg" alt="User Photo" width="48" height="48"
                                        class="mx-2 rounded" />
                                </div>
                                <div class="profile__title">
                                    <h3>Smith Doe</h3>
                                </div>
                            </div>
                            <div class="bottom__section">
                                <article>Good morning world!! 💪💪</article>
                                <ul class="hashtags">
                                    <li>#mercedes</li>
                                    <li>#bodykit</li>
                                    <li>#performance</li>
                                    <li>#atarius</li>
                                    <li>#atariusconcept</li>
                                </ul>
                                <div class="date">10:00 AM 12-02-2019</div>
                                <div class="actions">
                                    <div class="action like">
                                        <i class="fas fa-heart"> </i><span>25</span>
                                    </div>
                                    <div class="action share">
                                        <i class="fas fa-share-alt"></i><span>30</span>
                                    </div>
                                    <div class="action comment">
                                        <i class="far fa-comment-alt"></i><span>10</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post__image">
                            <img src="images/small/small-2.jpg" alt="post-img"
                                class="img-fluid">
                            <div class="social__media_icon">
                                <i class="fab fa-facebook-f"> </i>
                            </div>
                        </div>
                        <div class="post__content">
                            <div class="top__section">
                                <div class="profile__img">
                                    <img src="images/users/avatar-3.jpg" alt="User Photo" width="48" height="48"
                                        class="mx-2 rounded" />
                                </div>
                                <div class="profile__title">
                                    <h3>Brian</h3>
                                </div>
                            </div>
                            <div class="bottom__section">
                                <article>Yes or No ⁉️</article>
                                <ul class="hashtags">
                                    <li>#mensstyle</li>
                                    <li>#modamasculina</li>
                                    <li>#menwithstyle</li>
                                    <li>#zaraman</li>
                                    <li>#fashionmenswear</li>
                                    <li>#casual</li>
                                    <li>#mensweardaily</li>
                                </ul>
                                <div class="date">10:00 AM 12-02-2019</div>
                                <div class="actions">
                                    <div class="action like">
                                        <i class="fas fa-heart"> </i><span>20</span>
                                    </div>
                                    <div class="action share">
                                        <i class="fas fa-share-alt"></i><span>20</span>
                                    </div>
                                    <div class="action comment">
                                        <i class="far fa-comment-alt"></i><span>10</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post__image">
                            <img src="images/small/small-2.jpg" alt="post-img"
                                class="img-fluid">
                            <div class="social__media_icon">
                                <i class="fab fa-twitter"> </i>
                            </div>
                        </div>
                        <div class="post__content">
                            <div class="top__section">
                                <div class="profile__img">
                                    <img src="images/users/avatar-3.jpg" alt="User Photo" width="48" height="48"
                                        class="mx-2 rounded" />
                                </div>
                                <div class="profile__title">
                                    <h3>Anya</h3>
                                </div>
                            </div>
                            <div class="bottom__section">
                                <article>
                                    Pick your favourite Follow
                                    <span class="hashtag">#ladyonlys</span>
                                </article>
                                <ul class="hashtags">
                                    <li>#womensfashion</li>
                                    <li>#womenfashion</li>
                                    <li>#girlstylelook</li>
                                    <li>#womenfashions</li>
                                    <li>#womenswear</li>
                                    <li>#ladyfashion</li>
                                </ul>
                                <div class="date">10:00 AM 12-02-2019</div>
                                <div class="actions">
                                    <div class="action like">
                                        <i class="fas fa-heart"> </i><span>20</span>
                                    </div>
                                    <div class="action share">
                                        <i class="fas fa-share-alt"></i><span>20</span>
                                    </div>
                                    <div class="action comment">
                                        <i class="far fa-comment-alt"></i><span>10 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post__image">
                            <img src="images/small/small-2.jpg" alt="post-img"
                                class="img-fluid">
                            <div class="social__media_icon">
                                <i class="fab fa-instagram"> </i>
                            </div>
                        </div>
                        <div class="post__content">
                            <div class="top__section">
                                <div class="profile__img">
                                    <img src="images/users/avatar-3.jpg" alt="User Photo" width="48" height="48"
                                        class="mx-2 rounded" />
                                </div>
                                <div class="profile__title">
                                    <h3>Brick Ollen</h3>
                                </div>
                            </div>
                            <div class="bottom__section">
                                <article>
                                    Coming out with something special this week! ⛱️
                                </article>
                                <ul class="hashtags">
                                    <li>#lifestyleblog</li>
                                    <li>#vlog</li>
                                    <li>#contentcreators</li>
                                    <li>#wanderlust</li>
                                </ul>
                                <div class="date">10:00 AM 12-02-2019</div>
                                <div class="actions">
                                    <div class="action like">
                                        <i class="fas fa-heart"> </i><span>20</span>
                                    </div>
                                    <div class="action share">
                                        <i class="fas fa-share-alt"></i><span>20</span>
                                    </div>
                                    <div class="action comment">
                                        <i class="far fa-comment-alt"></i><span>10 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post__image">
                            <img src="images/small/small-2.jpg" alt="post-img"
                                class="img-fluid">
                            <div class="social__media_icon">
                                <i class="fab fa-instagram"> </i>
                            </div>
                        </div>
                        <div class="post__content">
                            <div class="top__section">
                                <div class="profile__img">
                                    <img src="images/users/avatar-3.jpg" alt="User Photo" width="48" height="48"
                                        class="mx-2 rounded" />
                                </div>
                                <div class="profile__title">
                                    <h3>Emma Watson</h3>
                                </div>
                            </div>
                            <div class="bottom__section">
                                <article></article>
                                <ul class="hashtags">
                                    <li>#leaveonlyleaves</li>
                                    <li>#leaves</li>
                                    <li>#artistry_lords</li>
                                    <li>#tv_depthoffield</li>
                                    <li>#mode_emotive</li>
                                    <span>🥰 </span>
                                </ul>
                                <div class="date">10:00 AM 12-02-2019</div>
                                <div class="actions">
                                    <div class="action like">
                                        <i class="fas fa-heart"> </i><span>20</span>
                                    </div>
                                    <div class="action share">
                                        <i class="fas fa-share-alt"></i><span>20</span>
                                    </div>
                                    <div class="action comment">
                                        <i class="far fa-comment-alt"></i><span>10 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post__image">
                            <img src="images/small/small-2.jpg" alt="post-img"
                                class="img-fluid">
                            <div class="social__media_icon">
                                <i class="fab fa-facebook-f"> </i>
                            </div>
                        </div>
                        <div class="post__content">
                            <div class="top__section">
                                <div class="profile__img">
                                    <img src="images/users/avatar-3.jpg" alt="User Photo" width="48" height="48"
                                        class="mx-2 rounded" />
                                </div>
                                <div class="profile__title">
                                    <h3>George</h3>
                                </div>
                            </div>
                            <div class="bottom__section">
                                <article>
                                    There’s something magical and mesmerizing about the
                                    ocean... do you feel that too?! 🌊
                                </article>
                                <ul class="hashtags">
                                    <li>#ocean</li>
                                    <li>#oceanview</li>
                                    <li>#sea</li>
                                    <li>#seaside</li>
                                    <li>#beachday</li>
                                    <li>#beachlife</li>
                                    <li>#beach</li>
                                    <li>#travel</li>
                                </ul>
                                <div class="date">10:00 AM 12-02-2019</div>
                                <div class="actions">
                                    <div class="action like">
                                        <i class="fas fa-heart"> </i><span>20</span>
                                    </div>
                                    <div class="action share">
                                        <i class="fas fa-share-alt"></i><span>20</span>
                                    </div>
                                    <div class="action comment">
                                        <i class="far fa-comment-alt"></i><span>10 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mb-3">
            <a href="javascript:void(0);" class="text-danger"><i class="mdi mdi-spin mdi-loading me-1 font-16"></i>
                Load more
            </a>
        </div>
    </div>
</div>