@page "/change-password"

<PageTitle>Change your Password?</PageTitle>

<div class="authentication-bg">
    <section class="change-password">
        <div class="notes d-flex flex-column">
            <small class="text-gray-500">
                <em>Complete this form to change the password.</em>
            </small>
        </div>
        <form id="change-password-form">
            <div class="row align-items-center pb-3">
                <div class="col-xl-2 col-lg-3 col-12">
                    <label class="form-label">
                        old password
                        <span class="text-gray-400">(required)</span>
                    </label>
                </div>
                <div class="col-xl-4 col-lg-4 col-12">
                    <div class="input-group input-group-merge">
                        <input type="password" id="password" class="form-control" placeholder="Enter your password">
                        <div class="input-group-text" data-password="false">
                            <span class="password-eye"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center pb-3">
                <div class="col-xl-2 col-lg-3 col-12">
                    <label class="form-label">
                        new password
                        <span class="text-gray-400">(required)</span>
                    </label>
                </div>
                <div class="col-xl-4 col-lg-4 col-12">
                    <div class="input-group input-group-merge">
                        <input type="password" id="password" class="form-control" placeholder="Enter your password">
                        <div class="input-group-text" data-password="false">
                            <span class="password-eye"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center pb-3">
                <div class="col-xl-2 col-lg-3 col-12">
                    <label class="form-label"> old password </label>
                </div>
                <div class="col-xl-4 col-lg-4 col-12">
                    <div class="input-group input-group-merge">
                        <input type="password" id="password" class="form-control" placeholder="Enter your password">
                        <div class="input-group-text" data-password="false">
                            <span class="password-eye"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-wrapper">
                <button type="submit" class="btn btn-lg btn-primary text-capitalize">
                    change password
                </button>
            </div>
        </form>
    </section>
</div>
