@page "/change-password"

<PageTitle>Change your Password?</PageTitle>

<div class="authentication-bg">
    <div class="grid col-xl-7 col-lg-8 col-md-10 col-12 mx-auto">
        <section class="change-password">
            <div class="notes d-flex flex-column">
                <h4>
                    Complete this form to change the password.
                </h4>
            </div>
            <form id="change-password-form" class="custom-form">
                <div class="row align-items-center pb-3">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                        <label class="form-label">
                            <em>
                            old password
                            <span class="text-gray-400">(required)</span>
                            </em>
                        </label>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                        <div class="form-floating mb-0 input-group">
                                    <input type="password" class="form-control" id="floatingPassword" placeholder="Enter your old password">
                                    <i class="uil uil-eye"></i>
                                </div>
                    </div>
                </div>
                <div class="row align-items-center pb-3">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                        <label class="form-label">
                            <em>
                            new password
                            <span class="text-gray-400">(required)</span>
                            </em>
                        </label>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                        <div class="input-group input-group-merge">
                            <div class="form-floating mb-0 input-group">
                                    <input type="password" class="form-control" id="floatingPassword" placeholder="Enter your new password">
                                    <i class="uil uil-eye"></i>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center pb-3">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                        <label class="form-label">
                            <em>
                            confirm password
                            <span class="text-gray-400">(required)</span>
                            </em>
                        </label>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                    <div class="form-floating mb-0 input-group">
                                    <input type="password" class="form-control" id="floatingPassword" placeholder="re-enter your new password">
                                    <i class="uil uil-eye"></i>
                                </div>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <button type="submit" class="btn btn-gradient text-capitalize">
                        change password
                    </button>
                </div>
            </form>
        </section>
    </div>
</div>
