@layout EmptyLayout
@page "/reset-password"

<PageTitle>Reset Password</PageTitle>

 <div class="auth-fluid">
    <div class="auth-fluid-right p-0">
        <img src="images/bg-auth.jpg" alt="Cover Image" class="w-100 h-100 img-fluid">
    </div>
    <div class="auth-fluid-form-box">
        <div class="card-body d-flex flex-column h-100 gap-3">

            <div class="auth-brand text-center">
                <a href="index.html" class="logo-dark"> Bislerium </a>
                <a href="index.html" class="logo-light"> Bislerium </a>
            </div>

            <div class="my-auto">
                <div class="text-center w-75 m-auto">
                    <h4 class="text-dark-50 text-center mt-0 fw-bold">Reset Password</h4>
                    <p class="text-muted mb-4">Enter your email address and we'll send you an email with
                        instructions to reset your password.</p>
                </div>

                <form action="#" class="login__form custom-form">
                    <div class="form-floating mb-3 input-group">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                        <i class="ri ri-group-line"></i>
                    </div>

                    <div class="mb-0 text-center">
                        <button class="btn btn-gradient w-100" type="submit">Reset Password</button>
                    </div>
                </form>
            </div>

            <footer class="footer footer-alt">
                <div class="col-12 text-center">
                    <p class="text-muted">Back to <a href="pages-login.html" class="text-muted ms-1"><b>Log
                                In</b></a></p>
                </div>
            </footer>

        </div>
    </div>
</div>