@page "/users"

<PageTitle>Users Index</PageTitle>

<div class="container-fluid bg-white rounded">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">User Index</h4>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Full Name</th>
                <th>
                Username
                </th>
                <th>
                Email Address
                </th>
                <th>
                Phone Number
                </th>
                <th>
                Role
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Shreya Karmacharya</td>
                <td>shreya1</td>
                <td>abc@gmail.com</td>
                <td>9800000000</td>
                <td><span class="admin">Admin</span></td>
            </tr>
            <tr>
            <td>Sid Pradhan</td>
                <td>sidelicious</td>
                <td>abc@gmail.com</td>
                <td>9800000000</td>
                <td><span class="blogger">Blogger</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>